@tailwind base;
@tailwind components;
@tailwind utilities;

.beanzCanvas {
  width: 390px;
  height: 844px;
}

.opacity-base {
  opacity: 1;
  transition: opacity 1s;
}

.loading {
  opacity: 45%;
}

@keyframes Pulsate {
  from { opacity: 1; }
  50% { opacity: 0; }
  to { opacity: 1; }
}
